.vscode/**
.vscode-test/**
docs/**
doc_dist/**
src/**
.parcel-cache/*
.gitignore
**/*tsconfig.json
**/*.map
**/*.ts
**/*.html
**/*.less
node_modules/**
.nojekyll
images/**
!images/normal.jpg
*.afdesign