

body {
    --color-1: #c95b46;
    --color-2: #DC7933;
    --color-3: #6CA87E;
    --color-shade: #6CA87E;
    --color-pale: #ede1c2;
    --color-text: #333;
    --color-gray: #eee;
    background-color: var(--color-shade);
    margin-top: 2rem;
}

a {
    color: var(--color-2);
}
a:active {
    color: var(--color-shade);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-1);
}

.content {
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    font-size: 1.6rem;
    color: var(--color-text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: min(60rem, 95vw);
    margin: auto;
}

code {
    font-size: 1rem;
    background-color: var(--color-gray);
    border-radius: 2px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

pre > code {
    background-color: rgba(0,0,0,0);
    padding: 0;
    border-radius: 0;
    font-size: 1.3rem;
}
pre {
    background-color: var(--color-gray);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
}

table{
    border-collapse: collapse;
}

th {
    padding-bottom: 4pt;
    text-align: left;
    padding-left: 1rem;
}

thead {
    border-bottom: 2px solid black;
}
td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

tr:nth-child(even) {background: var(--color-pale)}

key {
    position: relative;
    top: -2pt;
    font-size: 0.9rem;
    border: 1px solid black;
    background-color: var(--color-pale);
    border-radius: 3px;
    padding: 2pt;
    padding-left: 4pt;
    padding-right: 4pt;
    margin: 2pt;
    font-family: 'Courier New', Courier, monospace; 
}